body {
  background-color: black;
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.left .borders, .right .borders {
  width: 250px;
  height: 250px;
  border-radius: 30%;
  overflow: hidden;
  transition: 0.5s;
}
.left .borders:hover, .right .borders:hover {
  border: 3px solid #F3CE5E;
  cursor: pointer;
}
.left img, .right img {
  background-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.left p, .right p {
  color: rgb(192, 189, 189);
  position: relative;
}
.left p::before, .right p::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0%;
  background: #F3CE5E;
  transition: 0.5s;
}
.left p:hover, .right p:hover {
  cursor: pointer;
  color: #F3CE5E;
}
.left p:hover::before, .right p:hover::before {
  width: 100%;
}
.left a, .right a {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */