body {
  background: #F7F7F7;
}

.container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  transition: all ease-out 0.5s;
  color: white;
}
.header .logo:hover {
  text-decoration: none;
}
.header h2 {
  transform: translateY(-4px);
}
.header .effect {
  text-decoration: none;
}
.header .effect i {
  transition: 0.3s;
}
.header .effect h2 {
  transition: 0.3s;
}
.header .effect:hover i {
  font-size: 25px;
  color: white;
}
.header .effect:hover h2 {
  font-size: 17px;
  color: white;
}
.header .right .btn {
  color: white;
}
.header .right .offcanvas-body {
  margin: 0;
  padding: 0;
  color: black;
}
.header .right .offcanvas-body .content {
  background-color: #F7F7F7;
}
.header .right .product-order .right p {
  font-size: 14px;
}
.header .right .product-order .right button {
  margin-top: 20px;
  color: red;
  position: relative;
  transition: 0.3s;
}
.header .right .product-order .right button::before {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: red;
}
.header .right .product-order .right button:hover {
  color: blue;
}
.header .right .product-order .right button:hover::before {
  background: blue;
}
.header .btn-1 {
  margin-top: 15px;
  background-color: rgb(23, 23, 60);
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  transition: 0.3s;
}
.header .btn-1:hover {
  margin-top: 15px;
  background-color: rgb(66, 115, 171);
  color: black;
  padding: 8px 10px;
  font-size: 15px;
}
.header .btn-2 {
  margin-top: 15px;
  background-color: red;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  transition: 0.3s;
}
.header .btn-2:hover {
  margin-top: 15px;
  background-color: rgb(195, 82, 44);
  color: black;
  padding: 8px 10px;
  font-size: 15px;
}
.header .btn-3 {
  margin-top: 15px;
  background-color: rgb(237, 220, 26);
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  transition: 0.3s;
}
.header .btn-3:hover {
  margin-top: 15px;
  background-color: rgb(212, 212, 30);
  color: black;
  padding: 8px 10px;
  font-size: 15px;
}
.header .round-1 {
  padding: 3px 10px;
  border-radius: 50%;
  background: rgb(23, 23, 60);
  color: #F7F7F7;
}
.header .btn-add {
  z-index: 1;
  background-color: yellow;
  color: black;
  padding: 13px 20px;
}
.header .showQuantity {
  padding: 2px 3px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
}

.active {
  background-color: rgba(0, 0, 0, 0.9);
}

.banner {
  min-height: 600px;
  background-image: url(../img/coffee-computer-cup-desk-wallpaper-preview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}
.banner img {
  width: 70%;
}
.banner .overlay {
  width: 100%;
  min-height: 600px;
  height: 100%;
  background-image: linear-gradient(rgba(24, 27, 69, 0.7), rgba(184, 60, 89, 0.7));
}
.banner button {
  background-color: #eb4d26;
  color: white;
  padding: 13px 20px;
  transition: 0.3s;
}
.banner button:hover {
  background-color: #f37e60;
  color: rgb(21, 21, 21);
  padding: 13px 20px;
}

footer {
  background-image: linear-gradient(rgba(24, 27, 69, 0.7), rgba(184, 60, 89, 0.7));
  color: white;
}
footer .middle a, footer .middle .cotact {
  margin-bottom: 15px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
footer .middle i {
  padding-right: 10px;
}
footer .middle a:hover {
  color: white;
}/*# sourceMappingURL=index.css.map */