// Variable
$color-bg-1: linear-gradient(rgba(24, 27, 69, 0.7),rgb(184, 60, 89,0.7));
$color-bg-2: #F7F7F7;
$color-black-1: rgb(0, 0, 0, 0.9);
$color-black-2: rgb(21, 21, 21);
$color-white-1: white;
$color-orange-1: #eb4d26;
$color-orange-2: #f37e60;
$color-red-1: red;
$color-blue-1: blue;

// function
@mixin btn-theme($color1, $color2){
    background-color: $color1;
    color: $color2;
    padding: 13px 20px;
}
@mixin btn-theme-1($color1, $color2){
    margin-top: 15px;
    background-color: $color1;
    color: $color2;
    padding: 8px 10px;
    font-size: 15px;
}

body{
    background: $color-bg-2;
}

.container{
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    // background-color: $color-black-1;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    color: $color-white-1;
    .logo{
        &:hover{
            text-decoration: none;
        }
    }
    h2{
        transform: translateY(-4px);
    }
    .effect{
        text-decoration: none;
        i{
            transition: 0.3s;
        }
        h2{
            transition: 0.3s;
        }
        &:hover i{
            font-size: 25px;
            color: $color-white-1;
        }
        &:hover h2{
            font-size: 17px;
            color: $color-white-1;
        }
    }
    .right{
        .btn{
            color: $color-white-1;
        }
        .offcanvas-body{
            margin: 0;
            padding: 0;
            color: black;
            .content{
                background-color: $color-bg-2;
            }
        }
        .product-order{
            .right{
                p{
                    font-size: 14px;
                }
                button{
                    margin-top: 20px;
                    color: red;
                    position: relative;
                    transition: 0.3s;
                    &::before{
                        position: absolute;
                        content: "";
                        bottom: 2px;
                        left: 0;
                        height: 1px;
                        width: 100%;
                        background: red;                       
                    }
                    &:hover{
                        color: $color-blue-1;
                    }
                    &:hover::before{
                        background: $color-blue-1
                    }
                }
            }
        }
    }
    .btn-1{
        @include btn-theme-1(rgb(23, 23, 60), white);
        transition: 0.3s;
        &:hover{
            @include btn-theme-1(rgb(66, 115, 171), black);
        }
    }
    .btn-2{
        @include btn-theme-1(red, white);
        transition: 0.3s;
        &:hover{
            @include btn-theme-1(rgb(195, 82, 44), black);
        }
    }
    .btn-3{
        @include btn-theme-1(rgb(237, 220, 26), white);
        transition: 0.3s;
        &:hover{
            @include btn-theme-1(rgb(212, 212, 30), black);
        }
    }
    .round-1{
        padding: 3px 10px;
        border-radius: 50%;
        background: rgb(23, 23, 60);
        color: #F7F7F7;
    }
    .btn-add{
        z-index: 1;
        @include btn-theme(yellow, black);
    }
    .showQuantity{
        padding: 2px 3px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 700;
    }
}

.active {
    background-color: $color-black-1;
}
.banner{
    min-height: 600px;
    background-image: url(../img/coffee-computer-cup-desk-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: $color-white-1;
   img{
        width: 70%;
   }
   .overlay{
        width: 100%;
        min-height: 600px;
        height: 100%;
        background-image: $color-bg-1;
   }
   button{
    @include btn-theme($color-orange-1, $color-white-1);
    transition: 0.3s;
    &:hover{
        @include btn-theme($color-orange-2, $color-black-2);
    }
   }
}

footer{
    background-image: $color-bg-1;
    color: $color-white-1;
    .middle{
        a, .cotact{
            margin-bottom: 15px;
            text-decoration: dashed;
        }
        i{
            padding-right: 10px;
        }
        a{
            &:hover{
                color: $color-white-1;
            }
        }
    }
}
