body{
    background-color: black;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .overlay{
        background-color: rgb(0, 0, 0, 0.8);
    }
}

.left, .right{
    .borders{
        width: 250px;
        height: 250px;
        border-radius: 30%;
        overflow: hidden;
        transition: 0.5s;
        &:hover{
            border: 3px solid #F3CE5E;
            cursor: pointer;
        }
    }
    img{
        background-position: top;
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    p{
        color: rgb(192, 189, 189);
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: -2px;
            left: 0;
            height: 3px;
            width: 0%;
            background: #F3CE5E;
            transition: 0.5s;
        }
        &:hover{
            cursor: pointer;
            color: #F3CE5E;
        }
        &:hover::before{
            width: 100%;
        }
    }
    a{
        text-decoration: none;
    }
}